#formualarioC {
  background-color: blue;
  width: 90vw;
  height: 80vh;
  margin: 10vh 5vw;
  position:absolute;
  top: 0;
  left: 0;
  border-radius:20px ;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s;
  transition: transform 0.3s;
}

.formuJ {
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin: 80px auto;
  font-size: calc(1vw + 1px);
}


.formuI {
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin: 80px auto;
  font-size: calc(1vw + 1px);
}


.formuC {
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin: 80px auto;
  font-size: calc(1vw + 1px);
}


.botton2 {
  font-family: 'Dosis', sans-serif;
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  margin: 0px auto;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  background-color: cyan;
  font-size: calc(2vw + 2px);
}

.principal {
  background-color: palegreen;
}

.boton {
  font-family: 'Dosis', sans-serif;
  display: block;
  margin: 20px auto;
  border-radius: 7px;
  padding: 7px;
  font-size: calc(3vw + 3px);
}

button:hover {
  background-color: lightskyblue;
}

.boton1 {
  font-family: 'Dosis', sans-serif;
  font-size: calc(3vw + 3px);
  display: block;
  margin: 0px auto;
  border-radius: 7px;
  padding: 7px;
}


.nombre {
  font-family: 'Rampart One', cursive;
  font-size: calc(5vw + 40px);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

.lema {
  font-family: 'Dosis', sans-serif;
  font-size: calc(5vw + 10px);
  text-align: center;
  margin-top: 30px;
  margin: 40px auto;
}