<<<<<<< HEAD
#formualarioC {
  background-color: blue;
  width: 90vw;
  height: 80vh;
  margin: 10vh 5vw;
  position:absolute;
  top: 0;
  left: 0;
  border-radius:20px ;
=======
* {
  box-sizing: border-box;
}

.popUp {
  background-color: lightsteelblue;
  width: 50vw;
  height: 80vh;
  position: absolute;
  top: 17vh;
  left: 25vw;
  border-radius: 20px;
>>>>>>> jordi
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s;
  transition: transform 0.3s;
}
<<<<<<< HEAD

.formuJ {
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin: 80px auto;
  font-size: calc(1vw + 1px);
}


.formuI {
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin: 80px auto;
  font-size: calc(1vw + 1px);
}


.formuC {
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin: 80px auto;
  font-size: calc(1vw + 1px);
}


=======
.cruz{
  position: absolute;
  top: 20px;
  right: 20px;

}

.formu {
  background-color: lightgoldenrodyellow;
  text-align: center;
  margin: 100px auto;
}

>>>>>>> jordi
.botton2 {
  font-family: 'Dosis', sans-serif;
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  margin: 0px auto;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  background-color: cyan;
<<<<<<< HEAD
  font-size: calc(2vw + 2px);
}

.principal {
  background-color: palegreen;
=======
  font-size: calc(2vw + 1px);
}

body {
  background-color: rgb(154, 152, 251);
>>>>>>> jordi
}

.boton {
  font-family: 'Dosis', sans-serif;
  display: block;
  margin: 20px auto;
  border-radius: 7px;
  padding: 7px;
<<<<<<< HEAD
  font-size: calc(3vw + 3px);
=======
  background-color: lightgoldenrodyellow;
  font-size: calc(3vw + 2px);
>>>>>>> jordi
}

button:hover {
  background-color: lightskyblue;
}

.boton1 {
  font-family: 'Dosis', sans-serif;
<<<<<<< HEAD
  font-size: calc(3vw + 3px);
  display: block;
  margin: 0px auto;
  border-radius: 7px;
=======
  font-size: calc(3vw + 2px);
  display: block;
  margin: 0px auto;
  border-radius: 7px;
  background-color: lightgoldenrodyellow;
>>>>>>> jordi
  padding: 7px;
}


.nombre {
  font-family: 'Rampart One', cursive;
  font-size: calc(5vw + 40px);
  text-align: center;
  margin-bottom: 20px;
<<<<<<< HEAD
  margin-top: 80px;
=======
  margin-top: 110px;
>>>>>>> jordi
}

.lema {
  font-family: 'Dosis', sans-serif;
<<<<<<< HEAD
  font-size: calc(5vw + 10px);
=======
  font-size: calc(5vw + 5px);
>>>>>>> jordi
  text-align: center;
  margin-top: 30px;
  margin: 40px auto;
}