#icono {
  width: 89px;
  margin-bottom: -6px;
}

*   {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5{
  font-family: 'Rampart One', cursive;
}
p,label,button{
  font-family: 'Dosis', sans-serif;
}
input{
  border: 1px solid grey;
  border-radius: 7px;
  margin-top: 4px;
  height: 22px;
}

.popUp {
  background-color: aquamarine;
  width: 50vw;
  height: 60vh;
  position: absolute;
  top: 22vh;
  left: 25vw;
  box-shadow: 0 0 15px 10px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s;
  transition: transform 0.3s;

}
.cruz{
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: unset;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.cruz:hover{
  background-color:unset;
}

.formu {
  background-color: lightgoldenrodyellow;
  text-align: center;
  margin: 100px auto;
}

.botonCrearPerfil {
  font-family: 'Dosis', sans-serif;
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  margin: 0px auto;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  background-color: cyan;
  font-size: calc(2vw + 1px);
}

body {
  background-color: rgba(154, 152, 251, 0.383);
  /* background-color: rgba(127, 255, 212, 0.483); */
}

.botonIniciarSesion {
  font-family: 'Dosis', sans-serif;
  display: block;
  margin: 20px auto;
  border-radius: 7px;
  padding: 7px 30px;
  background-color: antiquewhite;
  font-size: calc(3vw + 2px);
}

button:hover {
  background-color: lightskyblue;
}

.botonJugarComoInvitado {
  font-family: 'Dosis', sans-serif;
  font-size: calc(3vw + 2px);
  display: block;
  margin: 0px auto;
  border-radius: 7px;
  background-color: lightgoldenrodyellow;
  padding: 7px 35px;
}


.nombre {
  font-family: 'Rampart One', cursive;
  font-size: calc(5vw + 40px);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 110px;
}

.lema {
  font-family: 'Dosis', sans-serif;
  font-size: calc(5vw + 5px);
  text-align: center;
  margin-top: 30px;
  margin: 40px auto;
}